.analytics-container {
	width: 50%;
	margin: 0 auto;
}

#chart-container {
	display: block;
	margin: 2rem auto;
	width: 100%;
	height: auto;
}

#embed-api-auth-container:nth-child(1) {
	display: none;
}

#view-selector-container {
	display: none;
}

#top-pages-list tbody tr td:nth-child(1) {
	max-width: 240px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}